:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-image: url('C:\Users\user\Desktop\siroko-react\siroko-react\src\assets\images\bg.jpg');
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: rgb(255, 255, 255) !important;
  --mat-radio-checked-ripple-color: none !important;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: rgb(255, 255, 255) !important;
  --mat-radio-checked-ripple-color: none !important;
}

mat-mdc-radio-button mat-accent mat-mdc-radio-checked {
  background-color: rgb(255, 255, 255) !important;
}

.mdc-label{
  font-family: 'inconsolata';
  font-size: 15px;
  font-weight: 400;
  color: white;
}


/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}
/* html, body { height: 100%; } */

/* Global fonts */
@font-face {
  font-family: 'inter-bold';
  src: url('./assets/fonts/inter/Inter_18pt-Bold.ttf');
}

@font-face {
  font-family: 'inter-regular';
  src: url('./assets/fonts/inter/Inter_18pt-Regular.ttf');
}

@font-face {
  font-family: 'inter-light';
  src: url('./assets/fonts/inter/Inter_18pt-Light.ttf');
}

@font-face {
  font-family: 'inter-thin';
  src: url('./assets/fonts/inter/Inter_18pt-Thin.ttf');
}

@font-face {
  font-family: 'inconsolata';
  src: url('./assets/fonts/inconsolata/Inconsolata-Light.ttf');
}

@font-face {
  font-family: 'inconsolata-bold';
  src: url('./assets/fonts/inconsolata/Inconsolata-Bold.ttf');
}

@font-face {
  font-family: 'liberator-siroko-heavy';
  src: url('./assets/fonts/liberator-siroko/LiberatorSIROKO-Heavy.ttf');
}
